<div class="edit-product-container">
    <h2>Edit Product</h2>
  
    <form (ngSubmit)="saveProduct()">
      <div class="form-group">
        <label for="productName">Product Name</label>
        <input type="text" id="productName" [(ngModel)]="product.name" name="name" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="productPrice">Price</label>
        <input type="number" id="productPrice" [(ngModel)]="product.price" name="price" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="productQuantity">Quantity</label>
        <input type="number" id="productQuantity" [(ngModel)]="product.stockQuantity" name="quantity" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="productDescription">Description</label>
        <textarea id="productDescription" [(ngModel)]="product.description" name="description" class="form-control" required></textarea>
      </div>
  
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary" (click)="router.navigate(['/dashboard/:id'])">Cancel</button>
    </form>
  </div>
  